<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>authentication module home</title>
  </head>
  <body>
    {% if registered %}
        <h1>Thank you for registering!</h1>
    {% endif %}
    {% if user.is_authenticated %}
      <h2>Welcome {{ user.username }}</h2>
      <a href="{% url 'MyAccounts:logout_user' %}">LOGOUT</a>
    {% else %}
      <h2>Welcome!</h2>
      <a href="{% url 'MyAccounts:register_user'%}">REGISTER </a>
      <a href="{% url 'MyAccounts:login_user'%}">LOGIN </a>
    {% endif %}
  </body>
</html>
