{% extends 'base.html' %}
{% block body %}
{% if cart %}
<div class="col-md-6 col-lg-4 col-sm-1">
{% for product_pair in prod_pairs %}
<br/>
<div class="card" style="width: 9rem;">
  <img src="{{ product_pair.product.image.url }}" class="card-img-top" alt="No image Found!">
  <div class="card-body">
    <h5 class="card-title"><a href="/details/{{ product_pair.product.pid }}">{{ product_pair.product.name }}</a></h5>
    <p class="card-text">Rs. {{ product_pair.product.price }}</p>
    <p class="card-text">Quanity : {{ product_pair.shop_quant }}</p>
  </div>
</div>
</div>
<br/>
{% endfor %}
<a class ="btn btn-success" href="#">Checkout !</a>
{% else %}
<div class="alert alert-danger" role="alert">No Product in Cart !!</div>
<br/>
<div class="col-md-6 col-lg-4 col-sm-1">
{% endif %}
<a class ="btn btn-primary" href="/">Continue Shopping !</a>
{% endblock %}
