{% extends 'base.html' %}
  {% block body %}
  <br>
  {% if found %}
  {% for product in products %}
  <br>
  <div class="col-md-6 col-lg-4 col-sm-1">
  <div class="card" style="width: 9rem;">
    <img src="{{ product.image.url }}" class="card-img-top" alt="No image Found!">
    <div class="card-body">
      <h5 class="card-title"><a href="/details/{{ product.pid }}">{{ product.name }}</a></h5>
      <p class="card-text">{{ product.desc }}</p>
      <p class="card-text">Rs. {{ product.price }}</p>
      <p class="card-text">Availability: {% if product.quantity > 0 %}<span class="badge badge-success">Available !</span>{% else %}<span class="badge badge-danger">Out of Stock !!</span>{% endif %}</p>
    </div>
  </div>
  </div>
  <br>
  {% endfor %}
  {% endif %}
  <br>
  {% endblock %}
