<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Product Details</title>
  </head>
  <body>
    <a href="{% url 'MyShop:home' %}">HOME</a>
    {% if product %}
    <br/>
    Name : <a href="/details/{{ product.pid }}">{{ product.name }}</a>
    price : {{ product.price }}
    description : {{ product.desc }}
    image : <img src="{{ product.image.url }}" alt="No image Found!" style="height:100px;width:100px;">
    category : {{ product.category.name }}
    <br/>
    {% else %}
    Product Not Found !!
    {% endif %}
  </body>
</html>
