    {% extends 'base.html' %}
    {% block body %}
    {% if product %}
    <div class="card" style="width: 9rem;">
      <img src="{{ product.image.url }}" class="card-img-top" alt="No image Found!">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.desc }}</p>
        <p class="card-text">Rs. {{ product.price }}</p>
        <p class="card-text">Availability: {% if product.quantity > 0 %}<span class="badge badge-success">Available !</span>{% else %}<span class="badge badge-danger">Out of Stock !!</span>{% endif %}</p>
        <a href="#" class="btn btn-primary">Add to Cart !</a>
      </div>
    </div>
    {% else %}
    Product Not Found !!
    {% endif %}
    {% endblock %}
